{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>UTalBook</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!--<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">-->

    


</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                {% include 'nav/navbar.html' %}
            </div>
            <div id="contenidoDinamico"></div>




            <!--
            <div class="col py-3">
                <h1>Bienvenido a UTalBook</h1>
                
            </div>
            -->
        </div>
    </div>
    {% bootstrap_javascript %}
    <script src="{% static 'js/main1.js' %}"></script>

</body>

</html>